.chCons {
    background-color : rgba(255, 235, 59, 0.5);
}

.chEndom {
    background-color : rgba(255, 87, 34, 0.5);
}

.chEnCons {
    background-color : rgba(33, 150, 243, 0.5);
}

.plObte {
    background-color : rgba(156, 39, 176, 0.5);
}

.chBlock {
    background-color : rgba(158, 158, 158, 0.5);
}

.ressOK {
    color       : rgb(0, 255, 0);
    font-weight : bold;
}

.color-check {
    color       : rgb(0, 255, 0);
    font-weight : bold;
}

.ressKO {
    color       : #ff0000;
    font-weight : bold;
}

.legendeCh {
    align-items     : center;
    display         : flex;
    justify-content : center;
    text-align      : center;
    width           : 100%;

    .legCh {
        border       : 1px solid var(--primary-border-color);
        display      : inline-block;
        height       : 20px;
        margin-right : 3px;
        width        : 20px;
    }
}

.bloc_legende {
    align-items     : center;
    display         : flex;
    justify-content : center;
}

.legende_chantier {
    align-items     : center;
    cursor          : pointer;
    display         : flex;
    justify-content : space-around;
    margin-left     : 3px;
    margin-right    : 5px;
}

.chantier_nonaff {
    text-decoration : line-through;
}

.listChantier {
    margin : 10px auto;
    width  : 1000px;

    thead {
        width : 1000px;

        tr {
            background-color : var(--tertiary-color);
        }

        tr:first-child {
            font-size : 1.5em;
        }
    }

    tr, th, td {
        border : 1px solid var(--primary-border-color);

    }

    td:not(.chantier_nom,.chantier_ressources) {
        text-align : center;
    }

    td.chantier_nom, td.chantier_ressources {
        padding-left : 4px;
    }

    td.chantier_ressources {
        div {
            display : flex;
        }
    }

    th {
        a {
            color           : var(--primary-font-color);
            text-decoration : none;
        }
    }

    tr.ligneChantier {
        width : 945px;
    }

    .chantier_nom.lv-1 > span {
        padding-left : 16px;
    }

    .chantier_nom.lv-2 > span {
        padding-left : 32px;
    }

    .chantier_nom.lv-3 > span {
        padding-left : 48px;
    }

    .chantier_nom.lv-4 > span {
        padding-left : 64px;
    }

    .chantier_nom.lv-5 > span {
        padding-left : 80px;
    }

    .chantier_nom.lv-6 > span {
        padding-left : 96px;
    }

    .chantier_nom {
        width : 250px;
    }

    .chantier_plan, .chantier_temp, .chantier_repa {
        width : 25px;
    }

    .chantier_pa, .chantier_pv, .chantier_def, .chantier_eau {
        width : 35px;
    }

    .chantier_ressources {
        width : 500px;

    }

}


#form_outilsChantier_zone {
    display : flex;
    width   : 100%;
}

#groupChantier {
    display       : flex;
    margin-bottom : 4px;
    width         : 865px;
}

#goupPARessouce {
    display     : flex;
    margin-left : 10px;
    width       : 340px;
}


#zone_totalChantier {
    width : 100%;

    i {
        display         : block; /* On change le type d'élément, les liens deviennent des balises de type block */
        font-size       : 1rem;
        font-weight     : bold;
        padding         : 0; /* Aucune marge intérieure */
        text-decoration : none; /* on supprime le style par défaut des liens  */
        width           : 150px; /* Largeur */

        span {
            background-color : var(--secondary-color);
            color            : var(--primary-font-color);
        }
    }

    > ul li:hover:not(.selectedOngletChantier) {
        background-color : var(--tertiary-color);
        color            : var(--hover-font-color);
    }

    > ul {
        line-height : 26px; /* on définit une hauteur pour chaque élément */
        list-style  : none; /* on supprime le style par défaut de la liste */
        margin      : 0; /* ni extérieure */
        padding     : 0; /* Pas de marge intérieure */
        text-align  : center; /* on centre le texte qui se trouve dans la liste */
    }

    > ul li {
        cursor : pointer;
        float  : left;
    }

    > div {
        border-bottom : 2px solid var(--primary-border-color);
        border-left   : 2px solid var(--primary-border-color);
        border-right  : 2px solid var(--primary-border-color);
        margin-top    : 28px;
    }
}

#zoneRecap_ressource_pa {
    width : 100%;

    i {
        display         : block; /* On change le type d'élément, les liens deviennent des balises de type block */
        font-size       : 1rem;
        font-weight     : bold;
        padding         : 0; /* Aucune marge intérieure */
        text-decoration : none; /* on supprime le style par défaut des liens  */
        width           : 150px; /* Largeur */

        span {
            background-color : var(--secondary-color);
            color            : var(--primary-font-color);
        }
    }

    > ul li:hover:not(.selectedOngletRecapChantier) {
        background-color : var(--tertiary-color);
        color            : var(--hover-font-color);
    }

    > ul {
        line-height : 26px; /* on définit une hauteur pour chaque élément */
        list-style  : none; /* on supprime le style par défaut de la liste */
        margin      : 0; /* ni extérieure */
        padding     : 0; /* Pas de marge intérieure */
        text-align  : center; /* on centre le texte qui se trouve dans la liste */
    }

    > ul li {
        cursor : pointer;
        float  : left;
    }

    > div {
        border-bottom : 2px solid var(--primary-border-color);
        border-left   : 2px solid var(--primary-border-color);
        border-right  : 2px solid var(--primary-border-color);
        margin-top    : 28px;
    }
}

.boutonMenuChantier {
    background-color        : var(--secondary-color);
    border-bottom           : 2px solid var(--primary-border-color);
    border-left             : 2px solid var(--primary-border-color);
    border-right            : 2px solid var(--primary-border-color);
    border-top              : 2px solid var(--primary-border-color);
    border-top-left-radius  : 5px;
    border-top-right-radius : 5px;
    margin-bottom           : -2px
}

.selectedOngletChantier, .selectedOngletRecapChantier {
    background-color : var(--secondary-color);
    border-bottom    : 2px solid var(--secondary-color);
}

.bordureInviChantier {
    width : 250px;
}

.bordureChantiers, .bordureChantier1, .bordureChantier2 {
    display : inline-block;
}


#zone_tab_chantier, #zone_tab_repa, #zone_tab_upHabi, #zone_tab_recapPa, #zone_tab_ressources, #zone_tab_repaPATot {
    background-color : var(--secondary-color);
    width            : 100%;
}

#zone_tab_chantier {
    height : 300px;

    table {
        border : solid 1px var(--primary-border-color);
        margin : 5px;
        width  : 500px;

        tr, td, th {
            border     : solid 1px var(--primary-border-color);
            font-size  : 0.9rem;
            text-align : center;
        }

        .programmeChantier_nom {
            width : 200px;
        }

        .programmeChantier_bde, > .programmeChantier_finir {
            width : 20px;
        }

        .programmeChantier_pa {
            width : 50px;

            input {
                width : 40px;
            }

        }

        .programmeChantier_prio {
            width : 30px;
        }

        .programmeChantier_action {
            width : 35px;
        }
    }
}

#zone_tab_repa {
    height : 300px;
}

/**
zone tab Habitation
 */

#zone_tab_upHabi {
    min-height : 300px;
}

#zoneUpHabitation {
    display : flex;
    width   : 865px;
}

#tab_upHabitation {
    width : 520px;

    table {
        border : solid 1px var(--primary-border-color);
        margin : 5px;
        width  : 500px;

        tr, td, th {
            border     : solid 1px var(--primary-border-color);
            font-size  : 0.9rem;
            text-align : center;
        }
    }
}

#form_upHab_zone {
    width : 345px;

    table {
        border : solid 1px var(--primary-border-color);
        margin : 5px;
        width  : 330px;

        tr, td, th {
            border     : solid 1px var(--primary-border-color);
            font-size  : 0.9rem;
            text-align : center;
        }
    }

}

#form_upHabitation {

    .upHabitation_action {
        width : 35px;
    }

    .upHabitation_citoyen, .upHabitation_lvl {
        width : 145px;
    }

}

#form_upAmelio {
    .tab_upAme_ameDiv {
        width : 20px;
    }

    .tab_upAme_nom {
        width : 160px;
    }

    .tab_upAme_habitation {
        width : 160px;
    }

    .upAmelio_citoyen, .upAmelio_choix {
        width : 130px;

        select {
            width : 100%;
        }
    }

    .upAmelio_lvl {
        width : 40px;

        select, input {
            width : 38px;
        }
    }

    .upAmelio_action {
        width : 35px;
    }
}

#zone_tab_recapPa {
    height : 300px;
}

#zone_tab_repaPATot {
    height : 300px;
}

#zone_tab_ressources {
    height : 300px;
}


.amelioInvisible {
    display : none;
}

#listingPaChantier {
    margin : 5px;
    width  : 100%;

    div {
        width : 330px;

        input {
            width : 50px;
        }

        label {
            display : inline-block;
            width   : 270px;
        }
    }
}


#listingPAOuvrier {
    display   : flex;
    flex-wrap : wrap;
    margin    : 5px;
    width     : 100%;

    div {
        width : 285px;

        input {
            width : 40px;
        }

        select {
            width : 40px;
        }

        label {
            display : inline-block;
            width   : 235px;
        }
    }
}

#corpsOutilsChantier {
    display       : flex;
    margin-bottom : 4px;
    width         : 100%;

    h2 {
        text-align : center;
        width      : 100%;
    }
}

#zoneOutilsChantierConteneur {
    margin-bottom : 5px;
    width         : 1220px;


    > ul > li {
        cursor           : pointer;
        float            : left;
        line-height      : 26px; /* on définit une hauteur pour chaque élément */
        list-style       : none; /* on supprime le style par défaut de la liste */
        margin           : 0; /* ni extérieure */
        padding          : 0; /* Pas de marge intérieure */
        text-align       : center; /* on centre le texte qui se trouve dans la liste */

    }

}

#tabs_outils_chantiers {

    align-content   : center;
    align-items     : center;
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
    width           : 100%;

    #recap_def_chantiers {
        display : flex;
        width   : 100%;
    }

    #tabs_gestion_outils_chantiers {
        width : 75%;

        ul {
            li {
                background-color : var(--primary-color);
                color            : var(--primary-font-color);
                cursor           : pointer;
                float            : left;
                line-height      : 26px; /* on définit une hauteur pour chaque élément */
                list-style       : none; /* on supprime le style par défaut de la liste */
                margin           : 0; /* ni extérieure */
                padding          : 0; /* Pas de marge intérieure */
                text-align       : center; /* on centre le texte qui se trouve dans la liste */

                &:hover {
                    background-color : var(--special-color);
                    color            : var(--hover-font-color);
                }
            }
        }
    }

    #tabs_recap_outils_chantiers {
        width : 25%;

        ul {
            li {
                background-color : var(--primary-color);
                color            : var(--primary-font-color);
                cursor           : pointer;
                float            : left;
                line-height      : 26px; /* on définit une hauteur pour chaque élément */
                list-style       : none; /* on supprime le style par défaut de la liste */
                margin           : 0; /* ni extérieure */
                padding          : 0; /* Pas de marge intérieure */
                text-align       : center; /* on centre le texte qui se trouve dans la liste */

                &:hover {
                    background-color : var(--special-color);
                    color            : var(--hover-font-color);
                }
            }
        }
    }
}

#def_chantier_actuelle, #def_chantier_prevu, #recap_pa {
    width : 33%;
}

.zoneOutilsChantiersPlans > div:not(.bordureHautChantier) {
    border-bottom : 2px solid var(--primary-border-color);
    border-left   : 2px solid var(--primary-border-color);
    border-right  : 2px solid var(--primary-border-color);
}

.selectedOngletOutilsChantiers {
    background-color : var(--secondary-color);
    border-bottom    : 2px solid var(--secondary-color);
}


.bordureHautChantier {
    background-color : var(--primary-border-color);
    display          : flex;
    height           : 2px;
    padding-right    : 4px;
    width            : 100%;
}

#tabs_outils_chantiers {
    width : 100%;
}