<table id="logListing">
	<thead>
	<tr>
		<th class="log_date">Date</th>
		<th class="log_tag">Tags</th>
		<th class="log_file">Fichier</th>
		<th class="log_action">Action</th>
	</tr>
	</thead>
	<tbody>
	{% for log in logs %}
		<tr class="{{ (loop.index0 is even)?'fondBlack02':'fondWhite02' }}">
			<td class="log_date">
				<b></b><br />
				<i class="small"></i>
			</td>
			<td class="log_tag">
				{% for tag in log.tags %}
					<span class="tag" style="background-color:{{ tag.color }}; ">{{ tag.tag }}</span>
				{% endfor %}
			</td>
			<td class="log_file">
				<code class="small" style="font-size: 0.7em;">{{ log.rel }}</code><br />
				<i class="small">Taille du fichier : <b>{{ log.info.size|filesize |raw }}</b></i>
			</td>
			<td class="log_action">
				{% if is_granted("ROLE_ADMIN") %}
					<button class="inline small clearLog" onclick="location.href='{{ path('admin_clear_log', {'file': log.access}) }}'"><i class="fa fa-trash"></i></button>
					<button class="inline small viewLog" onclick="window.open('{{ path('admin_view_log', {'action': 'view', 'file': log.access}) }}')"><i class="fa fa-eye"></i></button>
					<button class="inline small downLog" onClick="window.open('{{ path('admin_view_log', {'action': 'download', 'file': log.access}) }}')"><i class="fa fa-download"></i>
					</button>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
