/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-acid {
    background-image: url(sprite.png);
    background-position: -126px -307px;
    height: 16px;
    width: 16px;
}

.icon-agora {
    background-image: url(sprite.png);
    background-position: 0 0;
    height: 80px;
    width: 145px;
}

.icon-angryc {
    background-image: url(sprite.png);
    background-position: -144px -307px;
    height: 16px;
    width: 16px;
}

.icon-apple {
    background-image: url(sprite.png);
    background-position: -162px -307px;
    height: 16px;
    width: 16px;
}

.icon-april_drug {
    background-image: url(sprite.png);
    background-position: -180px -307px;
    height: 16px;
    width: 16px;
}

.icon-badge {
    background-image: url(sprite.png);
    background-position: -198px -307px;
    height: 16px;
    width: 16px;
}

.icon-bag {
    background-image: url(sprite.png);
    background-position: -216px -307px;
    height: 16px;
    width: 16px;
}

.icon-bagxl {
    background-image: url(sprite.png);
    background-position: -234px -307px;
    height: 16px;
    width: 16px;
}

.icon-bandage {
    background-image: url(sprite.png);
    background-position: -252px -307px;
    height: 16px;
    width: 16px;
}

.icon-banned_note {
    background-image: url(sprite.png);
    background-position: -270px -307px;
    height: 16px;
    width: 16px;
}

.icon-basic_suit_dirt {
    background-image: url(sprite.png);
    background-position: -288px -307px;
    height: 16px;
    width: 16px;
}

.icon-bbplan_e {
    background-image: url(sprite.png);
    background-position: -306px -307px;
    height: 16px;
    width: 16px;
}

.icon-bbplan_r {
    background-image: url(sprite.png);
    background-position: -330px 0;
    height: 16px;
    width: 16px;
}

.icon-bbplan_u {
    background-image: url(sprite.png);
    background-position: -330px -18px;
    height: 16px;
    width: 16px;
}

.icon-bed {
    background-image: url(sprite.png);
    background-position: -330px -36px;
    height: 16px;
    width: 16px;
}

.icon-beta_drug_bad {
    background-image: url(sprite.png);
    background-position: -330px -54px;
    height: 16px;
    width: 16px;
}

.icon-bgrenade {
    background-image: url(sprite.png);
    background-position: -330px -72px;
    height: 16px;
    width: 16px;
}

.icon-bgrenade_empty {
    background-image: url(sprite.png);
    background-position: -330px -90px;
    height: 16px;
    width: 16px;
}

.icon-big_pgun {
    background-image: url(sprite.png);
    background-position: -330px -108px;
    height: 16px;
    width: 16px;
}

.icon-big_pgun_empty {
    background-image: url(sprite.png);
    background-position: -330px -126px;
    height: 16px;
    width: 16px;
}

.icon-big_pgun_part {
    background-image: url(sprite.png);
    background-position: -330px -144px;
    height: 16px;
    width: 16px;
}

.icon-bone {
    background-image: url(sprite.png);
    background-position: -330px -162px;
    height: 16px;
    width: 16px;
}

.icon-bone_meat {
    background-image: url(sprite.png);
    background-position: -330px -180px;
    height: 16px;
    width: 16px;
}

.icon-book_gen_box {
    background-image: url(sprite.png);
    background-position: -330px -198px;
    height: 16px;
    width: 16px;
}

.icon-book_gen_letter {
    background-image: url(sprite.png);
    background-position: -330px -216px;
    height: 16px;
    width: 16px;
}

.icon-boomfruit {
    background-image: url(sprite.png);
    background-position: -330px -234px;
    height: 16px;
    width: 16px;
}

.icon-bplan_box {
    background-image: url(sprite.png);
    background-position: -330px -252px;
    height: 16px;
    width: 16px;
}

.icon-bplan_box_e {
    background-image: url(sprite.png);
    background-position: -330px -270px;
    height: 16px;
    width: 16px;
}

.icon-bplan_c {
    background-image: url(sprite.png);
    background-position: -330px -288px;
    height: 16px;
    width: 16px;
}

.icon-bplan_drop {
    background-image: url(sprite.png);
    background-position: -330px -306px;
    height: 16px;
    width: 16px;
}

.icon-bplan_e {
    background-image: url(sprite.png);
    background-position: 0 -326px;
    height: 16px;
    width: 16px;
}

.icon-bplan_r {
    background-image: url(sprite.png);
    background-position: -18px -326px;
    height: 16px;
    width: 16px;
}

.icon-bplan_u {
    background-image: url(sprite.png);
    background-position: -36px -326px;
    height: 16px;
    width: 16px;
}

.icon-bquies {
    background-image: url(sprite.png);
    background-position: -54px -326px;
    height: 16px;
    width: 16px;
}

.icon-broken {
    background-image: url(sprite.png);
    background-position: -72px -326px;
    height: 16px;
    width: 16px;
}

.icon-bumpKey {
    background-image: url(sprite.png);
    background-position: -90px -326px;
    height: 16px;
    width: 16px;
}

.icon-bureau {
    background-image: url(sprite.png);
    background-position: -108px -326px;
    height: 16px;
    width: 16px;
}

.icon-cadaver {
    background-image: url(sprite.png);
    background-position: -126px -326px;
    height: 16px;
    width: 16px;
}

.icon-cadaver_remains {
    background-image: url(sprite.png);
    background-position: -144px -326px;
    height: 16px;
    width: 16px;
}

.icon-can {
    background-image: url(sprite.png);
    background-position: -162px -326px;
    height: 16px;
    width: 16px;
}

.icon-can_open {
    background-image: url(sprite.png);
    background-position: -180px -326px;
    height: 16px;
    width: 16px;
}

.icon-can_opener {
    background-image: url(sprite.png);
    background-position: -198px -326px;
    height: 16px;
    width: 16px;
}

.icon-car_door {
    background-image: url(sprite.png);
    background-position: -288px -326px;
    height: 16px;
    width: 16px;
}

.icon-car_door_part {
    background-image: url(sprite.png);
    background-position: -306px -326px;
    height: 16px;
    width: 16px;
}

.icon-cards {
    background-image: url(sprite.png);
    background-position: -216px -326px;
    height: 16px;
    width: 16px;
}

.icon-carpet {
    background-image: url(sprite.png);
    background-position: -234px -326px;
    height: 16px;
    width: 16px;
}

.icon-cart {
    background-image: url(sprite.png);
    background-position: -252px -326px;
    height: 16px;
    width: 16px;
}

.icon-cart_part {
    background-image: url(sprite.png);
    background-position: -270px -326px;
    height: 16px;
    width: 16px;
}

.icon-catbox {
    background-image: url(sprite.png);
    background-position: -324px -326px;
    height: 16px;
    width: 16px;
}

.icon-cdbrit {
    background-image: url(sprite.png);
    background-position: -348px 0;
    height: 16px;
    width: 16px;
}

.icon-cdelvi {
    background-image: url(sprite.png);
    background-position: -348px -18px;
    height: 16px;
    width: 16px;
}

.icon-cdphil {
    background-image: url(sprite.png);
    background-position: -348px -36px;
    height: 16px;
    width: 16px;
}

.icon-chain {
    background-image: url(sprite.png);
    background-position: -348px -54px;
    height: 16px;
    width: 16px;
}

.icon-chainsaw {
    background-image: url(sprite.png);
    background-position: -348px -72px;
    height: 16px;
    width: 16px;
}

.icon-chainsaw_empty {
    background-image: url(sprite.png);
    background-position: -348px -90px;
    height: 16px;
    width: 16px;
}

.icon-chainsaw_part {
    background-image: url(sprite.png);
    background-position: -348px -108px;
    height: 16px;
    width: 16px;
}

.icon-chair {
    background-image: url(sprite.png);
    background-position: -348px -126px;
    height: 16px;
    width: 16px;
}

.icon-chair_basic {
    background-image: url(sprite.png);
    background-position: -348px -144px;
    height: 16px;
    width: 16px;
}

.icon-chama {
    background-image: url(sprite.png);
    background-position: -348px -162px;
    height: 16px;
    width: 16px;
}

.icon-chama_tasty {
    background-image: url(sprite.png);
    background-position: -348px -180px;
    height: 16px;
    width: 16px;
}

.icon-chest {
    background-image: url(sprite.png);
    background-position: -348px -198px;
    height: 16px;
    width: 16px;
}

.icon-chest_christmas_1 {
    background-image: url(sprite.png);
    background-position: -348px -216px;
    height: 16px;
    width: 16px;
}

.icon-chest_christmas_2 {
    background-image: url(sprite.png);
    background-position: -348px -234px;
    height: 16px;
    width: 16px;
}

.icon-chest_christmas_3 {
    background-image: url(sprite.png);
    background-position: -348px -252px;
    height: 16px;
    width: 16px;
}

.icon-chest_citizen {
    background-image: url(sprite.png);
    background-position: -348px -270px;
    height: 16px;
    width: 16px;
}

.icon-chest_food {
    background-image: url(sprite.png);
    background-position: -348px -288px;
    height: 16px;
    width: 16px;
}

.icon-chest_hero {
    background-image: url(sprite.png);
    background-position: -348px -306px;
    height: 16px;
    width: 16px;
}

.icon-chest_tools {
    background-image: url(sprite.png);
    background-position: -348px -324px;
    height: 16px;
    width: 16px;
}

.icon-chest_xl {
    background-image: url(sprite.png);
    background-position: 0 -344px;
    height: 16px;
    width: 16px;
}

.icon-chkspk {
    background-image: url(sprite.png);
    background-position: -18px -344px;
    height: 16px;
    width: 16px;
}

.icon-christmas_candy {
    background-image: url(sprite.png);
    background-position: -36px -344px;
    height: 16px;
    width: 16px;
}

.icon-christmas_suit_1 {
    background-image: url(sprite.png);
    background-position: -54px -344px;
    height: 16px;
    width: 16px;
}

.icon-christmas_suit_2 {
    background-image: url(sprite.png);
    background-position: -72px -344px;
    height: 16px;
    width: 16px;
}

.icon-christmas_suit_3 {
    background-image: url(sprite.png);
    background-position: -90px -344px;
    height: 16px;
    width: 16px;
}

.icon-christmas_suit_full {
    background-image: url(sprite.png);
    background-position: -108px -344px;
    height: 16px;
    width: 16px;
}

.icon-chudol {
    background-image: url(sprite.png);
    background-position: -126px -344px;
    height: 16px;
    width: 16px;
}

.icon-cigs {
    background-image: url(sprite.png);
    background-position: -144px -344px;
    height: 16px;
    width: 16px;
}

.icon-classicKey {
    background-image: url(sprite.png);
    background-position: -162px -344px;
    height: 16px;
    width: 16px;
}

.icon-claymo {
    background-image: url(sprite.png);
    background-position: -180px -344px;
    height: 16px;
    width: 16px;
}

.icon-coffee {
    background-image: url(sprite.png);
    background-position: -198px -344px;
    height: 16px;
    width: 16px;
}

.icon-coffee_machine {
    background-image: url(sprite.png);
    background-position: -216px -344px;
    height: 16px;
    width: 16px;
}

.icon-coffee_machine_part {
    background-image: url(sprite.png);
    background-position: -234px -344px;
    height: 16px;
    width: 16px;
}

.icon-concrete {
    background-image: url(sprite.png);
    background-position: -252px -344px;
    height: 16px;
    width: 16px;
}

.icon-concrete_wall {
    background-image: url(sprite.png);
    background-position: -270px -344px;
    height: 16px;
    width: 16px;
}

.icon-courroie {
    background-image: url(sprite.png);
    background-position: -288px -344px;
    height: 16px;
    width: 16px;
}

.icon-cutcut {
    background-image: url(sprite.png);
    background-position: -306px -344px;
    height: 16px;
    width: 16px;
}

.icon-cutter {
    background-image: url(sprite.png);
    background-position: -324px -344px;
    height: 16px;
    width: 16px;
}

.icon-cyanure {
    background-image: url(sprite.png);
    background-position: -342px -344px;
    height: 16px;
    width: 16px;
}

.icon-deco_box {
    background-image: url(sprite.png);
    background-position: -366px 0;
    height: 16px;
    width: 16px;
}

.icon-deto {
    background-image: url(sprite.png);
    background-position: -366px -18px;
    height: 16px;
    width: 16px;
}

.icon-dfhifi {
    background-image: url(sprite.png);
    background-position: -366px -36px;
    height: 16px;
    width: 16px;
}

.icon-dice {
    background-image: url(sprite.png);
    background-position: -366px -54px;
    height: 16px;
    width: 16px;
}

.icon-digger {
    background-image: url(sprite.png);
    background-position: -366px -72px;
    height: 16px;
    width: 16px;
}

.icon-diode {
    background-image: url(sprite.png);
    background-position: -366px -90px;
    height: 16px;
    width: 16px;
}

.icon-dish {
    background-image: url(sprite.png);
    background-position: -366px -108px;
    height: 16px;
    width: 16px;
}

.icon-dish_tasty {
    background-image: url(sprite.png);
    background-position: -366px -126px;
    height: 16px;
    width: 16px;
}

.icon-disinfect {
    background-image: url(sprite.png);
    background-position: -366px -144px;
    height: 16px;
    width: 16px;
}

.icon-distri {
    background-image: url(sprite.png);
    background-position: -366px -162px;
    height: 16px;
    width: 16px;
}

.icon-door {
    background-image: url(sprite.png);
    background-position: -366px -180px;
    height: 16px;
    width: 16px;
}

.icon-door_carpet {
    background-image: url(sprite.png);
    background-position: -366px -198px;
    height: 16px;
    width: 16px;
}

.icon-drug {
    background-image: url(sprite.png);
    background-position: -366px -216px;
    height: 16px;
    width: 16px;
}

.icon-drug_hero {
    background-image: url(sprite.png);
    background-position: -366px -234px;
    height: 16px;
    width: 16px;
}

.icon-drug_random {
    background-image: url(sprite.png);
    background-position: -366px -252px;
    height: 16px;
    width: 16px;
}

.icon-drug_water {
    background-image: url(sprite.png);
    background-position: -366px -270px;
    height: 16px;
    width: 16px;
}

.icon-egg {
    background-image: url(sprite.png);
    background-position: -147px -227px;
    height: 17px;
    width: 16px;
}

.icon-electro {
    background-image: url(sprite.png);
    background-position: -366px -288px;
    height: 16px;
    width: 16px;
}

.icon-electro_box {
    background-image: url(sprite.png);
    background-position: -366px -306px;
    height: 16px;
    width: 16px;
}

.icon-engine {
    background-image: url(sprite.png);
    background-position: -366px -324px;
    height: 16px;
    width: 16px;
}

.icon-engine_part {
    background-image: url(sprite.png);
    background-position: -366px -342px;
    height: 16px;
    width: 16px;
}

.icon-explo {
    background-image: url(sprite.png);
    background-position: 0 -362px;
    height: 16px;
    width: 16px;
}

.icon-fence {
    background-image: url(sprite.png);
    background-position: -18px -362px;
    height: 16px;
    width: 16px;
}

.icon-firework_box {
    background-image: url(sprite.png);
    background-position: -36px -362px;
    height: 16px;
    width: 16px;
}

.icon-firework_powder {
    background-image: url(sprite.png);
    background-position: -54px -362px;
    height: 16px;
    width: 16px;
}

.icon-firework_tube {
    background-image: url(sprite.png);
    background-position: -72px -362px;
    height: 16px;
    width: 16px;
}

.icon-flare {
    background-image: url(sprite.png);
    background-position: -90px -362px;
    height: 16px;
    width: 16px;
}

.icon-flash {
    background-image: url(sprite.png);
    background-position: -108px -362px;
    height: 16px;
    width: 16px;
}

.icon-flesh {
    background-image: url(sprite.png);
    background-position: -126px -362px;
    height: 16px;
    width: 16px;
}

.icon-flesh_part {
    background-image: url(sprite.png);
    background-position: -144px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_armag {
    background-image: url(sprite.png);
    background-position: -162px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_bag {
    background-image: url(sprite.png);
    background-position: -180px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_bar1 {
    background-image: url(sprite.png);
    background-position: -198px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_bar2 {
    background-image: url(sprite.png);
    background-position: -216px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_bar3 {
    background-image: url(sprite.png);
    background-position: -234px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_biscuit {
    background-image: url(sprite.png);
    background-position: -252px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_candies {
    background-image: url(sprite.png);
    background-position: -270px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_chick {
    background-image: url(sprite.png);
    background-position: -288px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_noodles {
    background-image: url(sprite.png);
    background-position: -306px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_noodles_hot {
    background-image: url(sprite.png);
    background-position: -324px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_pims {
    background-image: url(sprite.png);
    background-position: -342px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_sandw {
    background-image: url(sprite.png);
    background-position: -360px -362px;
    height: 16px;
    width: 16px;
}

.icon-food_tarte {
    background-image: url(sprite.png);
    background-position: -384px 0;
    height: 16px;
    width: 16px;
}

.icon-food_xmas {
    background-image: url(sprite.png);
    background-position: -384px -18px;
    height: 16px;
    width: 16px;
}

.icon-fruit {
    background-image: url(sprite.png);
    background-position: -384px -36px;
    height: 16px;
    width: 16px;
}

.icon-fruit_part {
    background-image: url(sprite.png);
    background-position: -384px -54px;
    height: 16px;
    width: 16px;
}

.icon-fruit_sub_part {
    background-image: url(sprite.png);
    background-position: -384px -72px;
    height: 16px;
    width: 16px;
}

.icon-fungus {
    background-image: url(sprite.png);
    background-position: -384px -90px;
    height: 16px;
    width: 16px;
}

.icon-game_box {
    background-image: url(sprite.png);
    background-position: -384px -108px;
    height: 16px;
    width: 16px;
}

.icon-grenade {
    background-image: url(sprite.png);
    background-position: -384px -126px;
    height: 16px;
    width: 16px;
}

.icon-grenade_empty {
    background-image: url(sprite.png);
    background-position: -384px -144px;
    height: 16px;
    width: 16px;
}

.icon-guide {
    background-image: url(sprite.png);
    background-position: -384px -162px;
    height: 16px;
    width: 16px;
}

.icon-guitar {
    background-image: url(sprite.png);
    background-position: -384px -180px;
    height: 16px;
    width: 16px;
}

.icon-gun {
    background-image: url(sprite.png);
    background-position: -384px -198px;
    height: 16px;
    width: 16px;
}

.icon-hangry {
    background-image: url(sprite.png);
    background-position: -273px -164px;
    height: 19px;
    width: 19px;
}

.icon-harma {
    background-image: url(sprite.png);
    background-position: -384px -216px;
    height: 16px;
    width: 16px;
}

.icon-harrow {
    background-image: url(sprite.png);
    background-position: -384px -234px;
    height: 16px;
    width: 16px;
}

.icon-hbag {
    background-image: url(sprite.png);
    background-position: -384px -252px;
    height: 16px;
    width: 16px;
}

.icon-hban {
    background-image: url(sprite.png);
    background-position: -384px -270px;
    height: 16px;
    width: 16px;
}

.icon-hbasic {
    background-image: url(sprite.png);
    background-position: -384px -288px;
    height: 16px;
    width: 16px;
}

.icon-hblink {
    background-image: url(sprite.png);
    background-position: -273px -185px;
    height: 19px;
    width: 19px;
}

.icon-hbone {
    background-image: url(sprite.png);
    background-position: -384px -306px;
    height: 16px;
    width: 16px;
}

.icon-hbplan_e {
    background-image: url(sprite.png);
    background-position: -384px -324px;
    height: 16px;
    width: 16px;
}

.icon-hbplan_r {
    background-image: url(sprite.png);
    background-position: -384px -342px;
    height: 16px;
    width: 16px;
}

.icon-hbplan_u {
    background-image: url(sprite.png);
    background-position: -384px -360px;
    height: 16px;
    width: 16px;
}

.icon-hcalim {
    background-image: url(sprite.png);
    background-position: -42px -246px;
    height: 19px;
    width: 19px;
}

.icon-hcamp {
    background-image: url(sprite.png);
    background-position: 0 -380px;
    height: 16px;
    width: 16px;
}

.icon-hchat {
    background-image: url(sprite.png);
    background-position: -18px -380px;
    height: 16px;
    width: 16px;
}

.icon-hcity_up {
    background-image: url(sprite.png);
    background-position: -36px -380px;
    height: 16px;
    width: 16px;
}

.icon-hcollec {
    background-image: url(sprite.png);
    background-position: -54px -380px;
    height: 16px;
    width: 16px;
}

.icon-hdeath {
    background-image: url(sprite.png);
    background-position: -72px -380px;
    height: 16px;
    width: 16px;
}

.icon-hdeco {
    background-image: url(sprite.png);
    background-position: -90px -380px;
    height: 16px;
    width: 16px;
}

.icon-hdig {
    background-image: url(sprite.png);
    background-position: -108px -380px;
    height: 16px;
    width: 16px;
}

.icon-hdoor {
    background-image: url(sprite.png);
    background-position: -63px -246px;
    height: 19px;
    width: 19px;
}

.icon-hdrug {
    background-image: url(sprite.png);
    background-position: -84px -246px;
    height: 19px;
    width: 19px;
}

.icon-hexas {
    background-image: url(sprite.png);
    background-position: -105px -246px;
    height: 19px;
    width: 19px;
}

.icon-hexploration {
    background-image: url(sprite.png);
    background-position: -126px -380px;
    height: 16px;
    width: 16px;
}

.icon-hghost {
    background-image: url(sprite.png);
    background-position: -144px -380px;
    height: 16px;
    width: 16px;
}

.icon-hghoul {
    background-image: url(sprite.png);
    background-position: -162px -380px;
    height: 16px;
    width: 16px;
}

.icon-hguard {
    background-image: url(sprite.png);
    background-position: -180px -380px;
    height: 16px;
    width: 16px;
}

.icon-hheal {
    background-image: url(sprite.png);
    background-position: -126px -246px;
    height: 19px;
    width: 19px;
}

.icon-hhome {
    background-image: url(sprite.png);
    background-position: -147px -246px;
    height: 19px;
    width: 19px;
}

.icon-hhorror {
    background-image: url(sprite.png);
    background-position: -168px -246px;
    height: 19px;
    width: 19px;
}

.icon-hhuman {
    background-image: url(sprite.png);
    background-position: -198px -380px;
    height: 16px;
    width: 16px;
}

.icon-hhunter {
    background-image: url(sprite.png);
    background-position: -216px -380px;
    height: 16px;
    width: 16px;
}

.icon-hifiev {
    background-image: url(sprite.png);
    background-position: -234px -380px;
    height: 16px;
    width: 16px;
}

.icon-hiloveu {
    background-image: url(sprite.png);
    background-position: -252px -380px;
    height: 16px;
    width: 16px;
}

.icon-hlol {
    background-image: url(sprite.png);
    background-position: -189px -246px;
    height: 19px;
    width: 19px;
}

.icon-hmbrew {
    background-image: url(sprite.png);
    background-position: -270px -380px;
    height: 16px;
    width: 16px;
}

.icon-hmeat {
    background-image: url(sprite.png);
    background-position: -288px -380px;
    height: 16px;
    width: 16px;
}

.icon-hmiddot {
    background-image: url(sprite.png);
    background-position: -306px -380px;
    height: 16px;
    width: 16px;
}

.icon-hneutral {
    background-image: url(sprite.png);
    background-position: -210px -246px;
    height: 19px;
    width: 19px;
}

.icon-home {
    background-image: url(sprite.png);
    background-position: -147px 0;
    height: 80px;
    width: 145px;
}

.icon-home_box {
    background-image: url(sprite.png);
    background-position: -324px -380px;
    height: 16px;
    width: 16px;
}

.icon-home_box_xl {
    background-image: url(sprite.png);
    background-position: -342px -380px;
    height: 16px;
    width: 16px;
}

.icon-home_def {
    background-image: url(sprite.png);
    background-position: -360px -380px;
    height: 16px;
    width: 16px;
}

.icon-hpa {
    background-image: url(sprite.png);
    background-position: -378px -380px;
    height: 16px;
    width: 16px;
}

.icon-hplan {
    background-image: url(sprite.png);
    background-position: -402px 0;
    height: 16px;
    width: 16px;
}

.icon-hrage {
    background-image: url(sprite.png);
    background-position: -231px -246px;
    height: 19px;
    width: 19px;
}

.icon-hranger {
    background-image: url(sprite.png);
    background-position: -402px -18px;
    height: 16px;
    width: 16px;
}

.icon-hrefine {
    background-image: url(sprite.png);
    background-position: -402px -36px;
    height: 16px;
    width: 16px;
}

.icon-hsad {
    background-image: url(sprite.png);
    background-position: -252px -246px;
    height: 19px;
    width: 19px;
}

.icon-hshaman {
    background-image: url(sprite.png);
    background-position: -402px -54px;
    height: 16px;
    width: 16px;
}

.icon-hsick {
    background-image: url(sprite.png);
    background-position: -273px -246px;
    height: 19px;
    width: 19px;
}

.icon-hsites {
    background-image: url(sprite.png);
    background-position: -402px -72px;
    height: 16px;
    width: 16px;
}

.icon-hsleep {
    background-image: url(sprite.png);
    background-position: -42px -267px;
    height: 19px;
    width: 19px;
}

.icon-hsmile {
    background-image: url(sprite.png);
    background-position: -63px -267px;
    height: 19px;
    width: 19px;
}

.icon-hsocks {
    background-image: url(sprite.png);
    background-position: -402px -90px;
    height: 16px;
    width: 16px;
}

.icon-hsurprise {
    background-image: url(sprite.png);
    background-position: -84px -267px;
    height: 19px;
    width: 19px;
}

.icon-htamer {
    background-image: url(sprite.png);
    background-position: -402px -108px;
    height: 16px;
    width: 16px;
}

.icon-htech {
    background-image: url(sprite.png);
    background-position: -402px -126px;
    height: 16px;
    width: 16px;
}

.icon-hwarning {
    background-image: url(sprite.png);
    background-position: -402px -144px;
    height: 16px;
    width: 16px;
}

.icon-hwater {
    background-image: url(sprite.png);
    background-position: -105px -267px;
    height: 19px;
    width: 19px;
}

.icon-hwink {
    background-image: url(sprite.png);
    background-position: -126px -267px;
    height: 19px;
    width: 19px;
}

.icon-hzhead {
    background-image: url(sprite.png);
    background-position: -147px -267px;
    height: 19px;
    width: 19px;
}

.icon-hzombie {
    background-image: url(sprite.png);
    background-position: -168px -267px;
    height: 19px;
    width: 19px;
}

.icon-icollec {
    background-image: url(sprite.png);
    background-position: -402px -162px;
    height: 16px;
    width: 16px;
}

.icon-infect_poison {
    background-image: url(sprite.png);
    background-position: -402px -180px;
    height: 16px;
    width: 16px;
}

.icon-infect_poison_part {
    background-image: url(sprite.png);
    background-position: -402px -198px;
    height: 16px;
    width: 16px;
}

.icon-iphone {
    background-image: url(sprite.png);
    background-position: -402px -216px;
    height: 16px;
    width: 16px;
}

.icon-jerrycan {
    background-image: url(sprite.png);
    background-position: -402px -234px;
    height: 16px;
    width: 16px;
}

.icon-jerrygun {
    background-image: url(sprite.png);
    background-position: -402px -252px;
    height: 16px;
    width: 16px;
}

.icon-jerrygun_off {
    background-image: url(sprite.png);
    background-position: -402px -270px;
    height: 16px;
    width: 16px;
}

.icon-jerrygun_part {
    background-image: url(sprite.png);
    background-position: -402px -288px;
    height: 16px;
    width: 16px;
}

.icon-jobs {
    background-image: url(sprite.png);
    background-position: 0 -82px;
    height: 80px;
    width: 145px;
}

.icon-kalach {
    background-image: url(sprite.png);
    background-position: -402px -306px;
    height: 16px;
    width: 16px;
}

.icon-knife {
    background-image: url(sprite.png);
    background-position: -402px -324px;
    height: 16px;
    width: 16px;
}

.icon-lamp {
    background-image: url(sprite.png);
    background-position: -402px -342px;
    height: 16px;
    width: 16px;
}

.icon-lamp_on {
    background-image: url(sprite.png);
    background-position: -402px -360px;
    height: 16px;
    width: 16px;
}

.icon-lawn {
    background-image: url(sprite.png);
    background-position: -402px -378px;
    height: 16px;
    width: 16px;
}

.icon-lawn_part {
    background-image: url(sprite.png);
    background-position: 0 -398px;
    height: 16px;
    width: 16px;
}

.icon-lens {
    background-image: url(sprite.png);
    background-position: -18px -398px;
    height: 16px;
    width: 16px;
}

.icon-lights {
    background-image: url(sprite.png);
    background-position: -36px -398px;
    height: 16px;
    width: 16px;
}

.icon-lilboo {
    background-image: url(sprite.png);
    background-position: -54px -398px;
    height: 16px;
    width: 16px;
}

.icon-lock {
    background-image: url(sprite.png);
    background-position: -72px -398px;
    height: 16px;
    width: 16px;
}

.icon-lpoint {
    background-image: url(sprite.png);
    background-position: -90px -398px;
    height: 16px;
    width: 16px;
}

.icon-lpoint1 {
    background-image: url(sprite.png);
    background-position: -108px -398px;
    height: 16px;
    width: 16px;
}

.icon-lpoint2 {
    background-image: url(sprite.png);
    background-position: -126px -398px;
    height: 16px;
    width: 16px;
}

.icon-lpoint3 {
    background-image: url(sprite.png);
    background-position: -144px -398px;
    height: 16px;
    width: 16px;
}

.icon-lpoint4 {
    background-image: url(sprite.png);
    background-position: -162px -398px;
    height: 16px;
    width: 16px;
}

.icon-lsd {
    background-image: url(sprite.png);
    background-position: -180px -398px;
    height: 16px;
    width: 16px;
}

.icon-machine_1 {
    background-image: url(sprite.png);
    background-position: -198px -398px;
    height: 16px;
    width: 16px;
}

.icon-machine_2 {
    background-image: url(sprite.png);
    background-position: -216px -398px;
    height: 16px;
    width: 16px;
}

.icon-machine_3 {
    background-image: url(sprite.png);
    background-position: -234px -398px;
    height: 16px;
    width: 16px;
}

.icon-machine_gun {
    background-image: url(sprite.png);
    background-position: -252px -398px;
    height: 16px;
    width: 16px;
}

.icon-maglite_1 {
    background-image: url(sprite.png);
    background-position: -270px -398px;
    height: 16px;
    width: 16px;
}

.icon-maglite_2 {
    background-image: url(sprite.png);
    background-position: -288px -398px;
    height: 16px;
    width: 16px;
}

.icon-maglite_off {
    background-image: url(sprite.png);
    background-position: -306px -398px;
    height: 16px;
    width: 16px;
}

.icon-magneticKey {
    background-image: url(sprite.png);
    background-position: -324px -398px;
    height: 16px;
    width: 16px;
}

.icon-map {
    background-image: url(sprite.png);
    background-position: -342px -398px;
    height: 16px;
    width: 16px;
}

.icon-mbplan_e {
    background-image: url(sprite.png);
    background-position: -360px -398px;
    height: 16px;
    width: 16px;
}

.icon-mbplan_r {
    background-image: url(sprite.png);
    background-position: -378px -398px;
    height: 16px;
    width: 16px;
}

.icon-mbplan_u {
    background-image: url(sprite.png);
    background-position: -396px -398px;
    height: 16px;
    width: 16px;
}

.icon-meat {
    background-image: url(sprite.png);
    background-position: -420px 0;
    height: 16px;
    width: 16px;
}

.icon-meca_parts {
    background-image: url(sprite.png);
    background-position: -420px -36px;
    height: 16px;
    width: 16px;
}

.icon-mecanism {
    background-image: url(sprite.png);
    background-position: -420px -18px;
    height: 16px;
    width: 16px;
}

.icon-metal {
    background-image: url(sprite.png);
    background-position: -420px -54px;
    height: 16px;
    width: 16px;
}

.icon-metal_bad {
    background-image: url(sprite.png);
    background-position: -420px -72px;
    height: 16px;
    width: 16px;
}

.icon-metal_beam {
    background-image: url(sprite.png);
    background-position: -420px -90px;
    height: 16px;
    width: 16px;
}

.icon-mixergun {
    background-image: url(sprite.png);
    background-position: -420px -108px;
    height: 16px;
    width: 16px;
}

.icon-mixergun_empty {
    background-image: url(sprite.png);
    background-position: -420px -126px;
    height: 16px;
    width: 16px;
}

.icon-mixergun_part {
    background-image: url(sprite.png);
    background-position: -420px -144px;
    height: 16px;
    width: 16px;
}

.icon-money {
    background-image: url(sprite.png);
    background-position: -420px -162px;
    height: 16px;
    width: 16px;
}

.icon-music {
    background-image: url(sprite.png);
    background-position: -420px -180px;
    height: 16px;
    width: 16px;
}

.icon-music_part {
    background-image: url(sprite.png);
    background-position: -420px -198px;
    height: 16px;
    width: 16px;
}

.icon-oilcan {
    background-image: url(sprite.png);
    background-position: -420px -216px;
    height: 16px;
    width: 16px;
}

.icon-omg_this_will_kill_you {
    background-image: url(sprite.png);
    background-position: -420px -234px;
    height: 16px;
    width: 16px;
}

.icon-out_def {
    background-image: url(sprite.png);
    background-position: -420px -252px;
    height: 16px;
    width: 16px;
}

.icon-paques {
    background-image: url(sprite.png);
    background-position: -420px -270px;
    height: 16px;
    width: 16px;
}

.icon-pc {
    background-image: url(sprite.png);
    background-position: -420px -288px;
    height: 16px;
    width: 16px;
}

.icon-pet_cat {
    background-image: url(sprite.png);
    background-position: -420px -306px;
    height: 16px;
    width: 16px;
}

.icon-pet_chick {
    background-image: url(sprite.png);
    background-position: -420px -324px;
    height: 16px;
    width: 16px;
}

.icon-pet_dog {
    background-image: url(sprite.png);
    background-position: -420px -342px;
    height: 16px;
    width: 16px;
}

.icon-pet_pig {
    background-image: url(sprite.png);
    background-position: -420px -360px;
    height: 16px;
    width: 16px;
}

.icon-pet_rat {
    background-image: url(sprite.png);
    background-position: -420px -378px;
    height: 16px;
    width: 16px;
}

.icon-pet_snake {
    background-image: url(sprite.png);
    background-position: -420px -396px;
    height: 16px;
    width: 16px;
}

.icon-pet_snake2 {
    background-image: url(sprite.png);
    background-position: 0 -416px;
    height: 16px;
    width: 16px;
}

.icon-pharma {
    background-image: url(sprite.png);
    background-position: -18px -416px;
    height: 16px;
    width: 16px;
}

.icon-pharma_part {
    background-image: url(sprite.png);
    background-position: -36px -416px;
    height: 16px;
    width: 16px;
}

.icon-pile {
    background-image: url(sprite.png);
    background-position: -54px -416px;
    height: 16px;
    width: 16px;
}

.icon-pile_broken {
    background-image: url(sprite.png);
    background-position: -162px -416px;
    height: 16px;
    width: 16px;
}

.icon-pilegun {
    background-image: url(sprite.png);
    background-position: -72px -416px;
    height: 16px;
    width: 16px;
}

.icon-pilegun_empty {
    background-image: url(sprite.png);
    background-position: -90px -416px;
    height: 16px;
    width: 16px;
}

.icon-pilegun_up {
    background-image: url(sprite.png);
    background-position: -108px -416px;
    height: 16px;
    width: 16px;
}

.icon-pilegun_up_empty {
    background-image: url(sprite.png);
    background-position: -144px -416px;
    height: 16px;
    width: 16px;
}

.icon-pilegun_upkit {
    background-image: url(sprite.png);
    background-position: -126px -416px;
    height: 16px;
    width: 16px;
}

.icon-plate {
    background-image: url(sprite.png);
    background-position: -180px -416px;
    height: 16px;
    width: 16px;
}

.icon-plate_raw {
    background-image: url(sprite.png);
    background-position: -198px -416px;
    height: 16px;
    width: 16px;
}

.icon-pocket_belt {
    background-image: url(sprite.png);
    background-position: -216px -416px;
    height: 16px;
    width: 16px;
}

.icon-poison {
    background-image: url(sprite.png);
    background-position: -234px -416px;
    height: 16px;
    width: 16px;
}

.icon-poison_part {
    background-image: url(sprite.png);
    background-position: -252px -416px;
    height: 16px;
    width: 16px;
}

.icon-postal_box {
    background-image: url(sprite.png);
    background-position: -270px -416px;
    height: 16px;
    width: 16px;
}

.icon-postal_box_xl {
    background-image: url(sprite.png);
    background-position: -288px -416px;
    height: 16px;
    width: 16px;
}

.icon-potion {
    background-image: url(sprite.png);
    background-position: -306px -416px;
    height: 16px;
    width: 16px;
}

.icon-powder {
    background-image: url(sprite.png);
    background-position: -324px -416px;
    height: 16px;
    width: 16px;
}

.icon-prints {
    background-image: url(sprite.png);
    background-position: -342px -416px;
    height: 16px;
    width: 16px;
}

.icon-pumpkin_off {
    background-image: url(sprite.png);
    background-position: -360px -416px;
    height: 16px;
    width: 16px;
}

.icon-pumpkin_on {
    background-image: url(sprite.png);
    background-position: -378px -416px;
    height: 16px;
    width: 16px;
}

.icon-pumpkin_raw {
    background-image: url(sprite.png);
    background-position: -396px -416px;
    height: 16px;
    width: 16px;
}

.icon-radio_off {
    background-image: url(sprite.png);
    background-position: -414px -416px;
    height: 16px;
    width: 16px;
}

.icon-radio_on {
    background-image: url(sprite.png);
    background-position: -438px 0;
    height: 16px;
    width: 16px;
}

.icon-radius_mk2 {
    background-image: url(sprite.png);
    background-position: -438px -18px;
    height: 16px;
    width: 16px;
}

.icon-radius_mk2_part {
    background-image: url(sprite.png);
    background-position: -438px -36px;
    height: 16px;
    width: 16px;
}

.icon-ralcool {
    background-image: url(sprite.png);
    background-position: -438px -54px;
    height: 16px;
    width: 16px;
}

.icon-ranger {
    background-image: url(sprite.png);
    background-position: -438px -72px;
    height: 16px;
    width: 16px;
}

.icon-ranimal {
    background-image: url(sprite.png);
    background-position: -438px -90px;
    height: 16px;
    width: 16px;
}

.icon-rban {
    background-image: url(sprite.png);
    background-position: -438px -108px;
    height: 16px;
    width: 16px;
}

.icon-rbgum {
    background-image: url(sprite.png);
    background-position: -438px -126px;
    height: 16px;
    width: 16px;
}

.icon-rbrep {
    background-image: url(sprite.png);
    background-position: -165px -227px;
    height: 17px;
    width: 16px;
}

.icon-rbuildr {
    background-image: url(sprite.png);
    background-position: -438px -144px;
    height: 16px;
    width: 16px;
}

.icon-rcamp {
    background-image: url(sprite.png);
    background-position: -438px -162px;
    height: 16px;
    width: 16px;
}

.icon-rcannib {
    background-image: url(sprite.png);
    background-position: -438px -180px;
    height: 16px;
    width: 16px;
}

.icon-rcgarb {
    background-image: url(sprite.png);
    background-position: -438px -198px;
    height: 16px;
    width: 16px;
}

.icon-rchstxl {
    background-image: url(sprite.png);
    background-position: -438px -216px;
    height: 16px;
    width: 16px;
}

.icon-rcmplst {
    background-image: url(sprite.png);
    background-position: -438px -234px;
    height: 16px;
    width: 16px;
}

.icon-rcobaye {
    background-image: url(sprite.png);
    background-position: -438px -252px;
    height: 16px;
    width: 16px;
}

.icon-rcollec {
    background-image: url(sprite.png);
    background-position: -438px -270px;
    height: 16px;
    width: 16px;
}

.icon-rcooked {
    background-image: url(sprite.png);
    background-position: -438px -288px;
    height: 16px;
    width: 16px;
}

.icon-rcookr {
    background-image: url(sprite.png);
    background-position: -438px -306px;
    height: 16px;
    width: 16px;
}

.icon-rcwater {
    background-image: url(sprite.png);
    background-position: -438px -324px;
    height: 16px;
    width: 16px;
}

.icon-rdcity {
    background-image: url(sprite.png);
    background-position: -438px -342px;
    height: 16px;
    width: 16px;
}

.icon-rddrug {
    background-image: url(sprite.png);
    background-position: -438px -360px;
    height: 16px;
    width: 16px;
}

.icon-rdeco {
    background-image: url(sprite.png);
    background-position: -438px -378px;
    height: 16px;
    width: 16px;
}

.icon-rdhang {
    background-image: url(sprite.png);
    background-position: -438px -396px;
    height: 16px;
    width: 16px;
}

.icon-rdigger {
    background-image: url(sprite.png);
    background-position: -438px -414px;
    height: 16px;
    width: 16px;
}

.icon-rdnucl {
    background-image: url(sprite.png);
    background-position: 0 -434px;
    height: 16px;
    width: 16px;
}

.icon-rdoor {
    background-image: url(sprite.png);
    background-position: -18px -434px;
    height: 16px;
    width: 16px;
}

.icon-rdoutsd {
    background-image: url(sprite.png);
    background-position: -36px -434px;
    height: 16px;
    width: 16px;
}

.icon-rdrgmkr {
    background-image: url(sprite.png);
    background-position: -54px -434px;
    height: 16px;
    width: 16px;
}

.icon-rdrug {
    background-image: url(sprite.png);
    background-position: -72px -434px;
    height: 16px;
    width: 16px;
}

.icon-rebcrow {
    background-image: url(sprite.png);
    background-position: -90px -434px;
    height: 16px;
    width: 16px;
}

.icon-rebcstl {
    background-image: url(sprite.png);
    background-position: -108px -434px;
    height: 16px;
    width: 16px;
}

.icon-rebgros {
    background-image: url(sprite.png);
    background-position: -126px -434px;
    height: 16px;
    width: 16px;
}

.icon-rebpmv {
    background-image: url(sprite.png);
    background-position: -144px -434px;
    height: 16px;
    width: 16px;
}

.icon-rebuild {
    background-image: url(sprite.png);
    background-position: -183px -227px;
    height: 17px;
    width: 16px;
}

.icon-renne {
    background-image: url(sprite.png);
    background-position: -162px -434px;
    height: 16px;
    width: 16px;
}

.icon-repair_kit {
    background-image: url(sprite.png);
    background-position: -180px -434px;
    height: 16px;
    width: 16px;
}

.icon-repair_kit_part {
    background-image: url(sprite.png);
    background-position: -198px -434px;
    height: 16px;
    width: 16px;
}

.icon-repair_kit_part_raw {
    background-image: url(sprite.png);
    background-position: -216px -434px;
    height: 16px;
    width: 16px;
}

.icon-repair_one {
    background-image: url(sprite.png);
    background-position: -234px -434px;
    height: 16px;
    width: 16px;
}

.icon-reveil {
    background-image: url(sprite.png);
    background-position: -252px -434px;
    height: 16px;
    width: 16px;
}

.icon-rexplo2 {
    background-image: url(sprite.png);
    background-position: -270px -434px;
    height: 16px;
    width: 16px;
}

.icon-rexplor {
    background-image: url(sprite.png);
    background-position: -288px -434px;
    height: 16px;
    width: 16px;
}

.icon-rginfec {
    background-image: url(sprite.png);
    background-position: -306px -434px;
    height: 16px;
    width: 16px;
}

.icon-rgoodg {
    background-image: url(sprite.png);
    background-position: -324px -434px;
    height: 16px;
    width: 16px;
}

.icon-rguard {
    background-image: url(sprite.png);
    background-position: -342px -434px;
    height: 16px;
    width: 16px;
}

.icon-rguide {
    background-image: url(sprite.png);
    background-position: -360px -434px;
    height: 16px;
    width: 16px;
}

.icon-rheroac {
    background-image: url(sprite.png);
    background-position: -378px -434px;
    height: 16px;
    width: 16px;
}

.icon-rhum {
    background-image: url(sprite.png);
    background-position: -396px -434px;
    height: 16px;
    width: 16px;
}

.icon-rjcolle {
    background-image: url(sprite.png);
    background-position: -414px -434px;
    height: 16px;
    width: 16px;
}

.icon-rjermit {
    background-image: url(sprite.png);
    background-position: -432px -434px;
    height: 16px;
    width: 16px;
}

.icon-rjguard {
    background-image: url(sprite.png);
    background-position: -456px 0;
    height: 16px;
    width: 16px;
}

.icon-rjsham {
    background-image: url(sprite.png);
    background-position: -456px -18px;
    height: 16px;
    width: 16px;
}

.icon-rjtamer {
    background-image: url(sprite.png);
    background-position: -456px -36px;
    height: 16px;
    width: 16px;
}

.icon-rkillz {
    background-image: url(sprite.png);
    background-position: -456px -54px;
    height: 16px;
    width: 16px;
}

.icon-rlaunc {
    background-image: url(sprite.png);
    background-position: -456px -72px;
    height: 16px;
    width: 16px;
}

.icon-rmaso {
    background-image: url(sprite.png);
    background-position: -456px -90px;
    height: 16px;
    width: 16px;
}

.icon-rmystic {
    background-image: url(sprite.png);
    background-position: -456px -108px;
    height: 16px;
    width: 16px;
}

.icon-rnodrug {
    background-image: url(sprite.png);
    background-position: -456px -126px;
    height: 16px;
    width: 16px;
}

.icon-rp_book {
    background-image: url(sprite.png);
    background-position: -456px -198px;
    height: 16px;
    width: 16px;
}

.icon-rp_book2 {
    background-image: url(sprite.png);
    background-position: -456px -216px;
    height: 16px;
    width: 16px;
}

.icon-rp_letter {
    background-image: url(sprite.png);
    background-position: -456px -234px;
    height: 16px;
    width: 16px;
}

.icon-rp_manual {
    background-image: url(sprite.png);
    background-position: -456px -252px;
    height: 16px;
    width: 16px;
}

.icon-rp_scroll {
    background-image: url(sprite.png);
    background-position: -456px -270px;
    height: 16px;
    width: 16px;
}

.icon-rp_sheets {
    background-image: url(sprite.png);
    background-position: -456px -288px;
    height: 16px;
    width: 16px;
}

.icon-rp_twin {
    background-image: url(sprite.png);
    background-position: -456px -306px;
    height: 16px;
    width: 16px;
}

.icon-rpande {
    background-image: url(sprite.png);
    background-position: -456px -144px;
    height: 16px;
    width: 16px;
}

.icon-rplundr {
    background-image: url(sprite.png);
    background-position: -456px -162px;
    height: 16px;
    width: 16px;
}

.icon-rptame {
    background-image: url(sprite.png);
    background-position: -456px -180px;
    height: 16px;
    width: 16px;
}

.icon-rrepair {
    background-image: url(sprite.png);
    background-position: -456px -324px;
    height: 16px;
    width: 16px;
}

.icon-rrp {
    background-image: url(sprite.png);
    background-position: -456px -342px;
    height: 16px;
    width: 16px;
}

.icon-rrrefer {
    background-image: url(sprite.png);
    background-position: -456px -360px;
    height: 16px;
    width: 16px;
}

.icon-rruine {
    background-image: url(sprite.png);
    background-position: -456px -378px;
    height: 16px;
    width: 16px;
}

.icon-rsandb {
    background-image: url(sprite.png);
    background-position: -456px -396px;
    height: 16px;
    width: 16px;
}

.icon-rsantac {
    background-image: url(sprite.png);
    background-position: -456px -414px;
    height: 16px;
    width: 16px;
}

.icon-rsc_pack_1 {
    background-image: url(sprite.png);
    background-position: -456px -432px;
    height: 16px;
    width: 16px;
}

.icon-rsc_pack_2 {
    background-image: url(sprite.png);
    background-position: 0 -452px;
    height: 16px;
    width: 16px;
}

.icon-rsc_pack_3 {
    background-image: url(sprite.png);
    background-position: -18px -452px;
    height: 16px;
    width: 16px;
}

.icon-rshare {
    background-image: url(sprite.png);
    background-position: -36px -452px;
    height: 16px;
    width: 16px;
}

.icon-rsolban {
    background-image: url(sprite.png);
    background-position: -54px -452px;
    height: 16px;
    width: 16px;
}

.icon-rsuhard {
    background-image: url(sprite.png);
    background-position: -72px -452px;
    height: 16px;
    width: 16px;
}

.icon-rsurlst {
    background-image: url(sprite.png);
    background-position: -90px -452px;
    height: 16px;
    width: 16px;
}

.icon-rtheft {
    background-image: url(sprite.png);
    background-position: -108px -452px;
    height: 16px;
    width: 16px;
}

.icon-rtronco {
    background-image: url(sprite.png);
    background-position: -126px -452px;
    height: 16px;
    width: 16px;
}

.icon-rustine {
    background-image: url(sprite.png);
    background-position: -144px -452px;
    height: 16px;
    width: 16px;
}

.icon-rwatgun {
    background-image: url(sprite.png);
    background-position: -162px -452px;
    height: 16px;
    width: 16px;
}

.icon-rwinbas {
    background-image: url(sprite.png);
    background-position: -180px -452px;
    height: 16px;
    width: 16px;
}

.icon-rwinthi {
    background-image: url(sprite.png);
    background-position: -198px -452px;
    height: 16px;
    width: 16px;
}

.icon-rwintop {
    background-image: url(sprite.png);
    background-position: -216px -452px;
    height: 16px;
    width: 16px;
}

.icon-rwondrs {
    background-image: url(sprite.png);
    background-position: -234px -452px;
    height: 16px;
    width: 16px;
}

.icon-rwound {
    background-image: url(sprite.png);
    background-position: -252px -452px;
    height: 16px;
    width: 16px;
}

.icon-rwrestl {
    background-image: url(sprite.png);
    background-position: -270px -452px;
    height: 16px;
    width: 16px;
}

.icon-ryebag {
    background-image: url(sprite.png);
    background-position: -288px -452px;
    height: 16px;
    width: 16px;
}

.icon-sacidspray {
    background-image: url(sprite.png);
    background-position: -201px -227px;
    height: 17px;
    width: 16px;
}

.icon-safe {
    background-image: url(sprite.png);
    background-position: -306px -452px;
    height: 16px;
    width: 16px;
}

.icon-sand_ball {
    background-image: url(sprite.png);
    background-position: -324px -452px;
    height: 16px;
    width: 16px;
}

.icon-sappletree {
    background-image: url(sprite.png);
    background-position: -219px -227px;
    height: 17px;
    width: 16px;
}

.icon-sarma {
    background-image: url(sprite.png);
    background-position: -342px -452px;
    height: 16px;
    width: 16px;
}

.icon-sarmor {
    background-image: url(sprite.png);
    background-position: -237px -227px;
    height: 17px;
    width: 16px;
}

.icon-saw_tool {
    background-image: url(sprite.png);
    background-position: -360px -452px;
    height: 16px;
    width: 16px;
}

.icon-saw_tool_part {
    background-image: url(sprite.png);
    background-position: -378px -452px;
    height: 16px;
    width: 16px;
}

.icon-sballoon {
    background-image: url(sprite.png);
    background-position: -255px -227px;
    height: 17px;
    width: 16px;
}

.icon-sbamba {
    background-image: url(sprite.png);
    background-position: -273px -227px;
    height: 17px;
    width: 16px;
}

.icon-sbarbed {
    background-image: url(sprite.png);
    background-position: -231px -267px;
    height: 17px;
    width: 16px;
}

.icon-sbuilding {
    background-image: url(sprite.png);
    background-position: -396px -452px;
    height: 16px;
    width: 16px;
}

.icon-scafet {
    background-image: url(sprite.png);
    background-position: -249px -267px;
    height: 17px;
    width: 16px;
}

.icon-scamp {
    background-image: url(sprite.png);
    background-position: -414px -452px;
    height: 16px;
    width: 16px;
}

.icon-scanon {
    background-image: url(sprite.png);
    background-position: -267px -267px;
    height: 17px;
    width: 16px;
}

.icon-scastle {
    background-image: url(sprite.png);
    background-position: -294px 0;
    height: 17px;
    width: 16px;
}

.icon-scatapult3 {
    background-image: url(sprite.png);
    background-position: -294px -19px;
    height: 17px;
    width: 16px;
}

.icon-scemetery {
    background-image: url(sprite.png);
    background-position: -294px -38px;
    height: 17px;
    width: 16px;
}

.icon-schat {
    background-image: url(sprite.png);
    background-position: -432px -452px;
    height: 16px;
    width: 16px;
}

.icon-schicken {
    background-image: url(sprite.png);
    background-position: -294px -57px;
    height: 17px;
    width: 16px;
}

.icon-scinema {
    background-image: url(sprite.png);
    background-position: -294px -76px;
    height: 17px;
    width: 16px;
}

.icon-scity_up {
    background-image: url(sprite.png);
    background-position: -450px -452px;
    height: 16px;
    width: 16px;
}

.icon-scoffin {
    background-image: url(sprite.png);
    background-position: -294px -95px;
    height: 17px;
    width: 16px;
}

.icon-scope {
    background-image: url(sprite.png);
    background-position: -474px 0;
    height: 16px;
    width: 16px;
}

.icon-scourt {
    background-image: url(sprite.png);
    background-position: -294px -114px;
    height: 17px;
    width: 16px;
}

.icon-screw {
    background-image: url(sprite.png);
    background-position: -474px -18px;
    height: 16px;
    width: 16px;
}

.icon-scrow {
    background-image: url(sprite.png);
    background-position: -294px -133px;
    height: 17px;
    width: 16px;
}

.icon-sdef {
    background-image: url(sprite.png);
    background-position: -474px -36px;
    height: 16px;
    width: 16px;
}

.icon-sderrick {
    background-image: url(sprite.png);
    background-position: -294px -152px;
    height: 17px;
    width: 16px;
}

.icon-sdig {
    background-image: url(sprite.png);
    background-position: -474px -54px;
    height: 16px;
    width: 16px;
}

.icon-sdoor_closed {
    background-image: url(sprite.png);
    background-position: -474px -72px;
    height: 16px;
    width: 16px;
}

.icon-seden {
    background-image: url(sprite.png);
    background-position: -294px -171px;
    height: 17px;
    width: 16px;
}

.icon-sfactory {
    background-image: url(sprite.png);
    background-position: -294px -190px;
    height: 17px;
    width: 16px;
}

.icon-sfalsecity {
    background-image: url(sprite.png);
    background-position: -294px -209px;
    height: 17px;
    width: 16px;
}

.icon-sfalsify {
    background-image: url(sprite.png);
    background-position: -474px -90px;
    height: 16px;
    width: 16px;
}

.icon-sfence {
    background-image: url(sprite.png);
    background-position: -474px -108px;
    height: 16px;
    width: 16px;
}

.icon-sfireworks {
    background-image: url(sprite.png);
    background-position: -294px -228px;
    height: 17px;
    width: 16px;
}

.icon-sfleshcage {
    background-image: url(sprite.png);
    background-position: -294px -247px;
    height: 17px;
    width: 16px;
}

.icon-sgather {
    background-image: url(sprite.png);
    background-position: -474px -126px;
    height: 16px;
    width: 16px;
}

.icon-sgazspray {
    background-image: url(sprite.png);
    background-position: -294px -266px;
    height: 17px;
    width: 16px;
}

.icon-sgrater {
    background-image: url(sprite.png);
    background-position: 0 -288px;
    height: 17px;
    width: 16px;
}

.icon-sgrinder {
    background-image: url(sprite.png);
    background-position: -18px -288px;
    height: 17px;
    width: 16px;
}

.icon-sheet {
    background-image: url(sprite.png);
    background-position: -474px -144px;
    height: 16px;
    width: 16px;
}

.icon-shero {
    background-image: url(sprite.png);
    background-position: -474px -162px;
    height: 16px;
    width: 16px;
}

.icon-shield {
    background-image: url(sprite.png);
    background-position: -474px -180px;
    height: 16px;
    width: 16px;
}

.icon-shome {
    background-image: url(sprite.png);
    background-position: -474px -198px;
    height: 16px;
    width: 16px;
}

.icon-showlingbait {
    background-image: url(sprite.png);
    background-position: -36px -288px;
    height: 17px;
    width: 16px;
}

.icon-sikea {
    background-image: url(sprite.png);
    background-position: -54px -288px;
    height: 17px;
    width: 16px;
}

.icon-sinfirmary {
    background-image: url(sprite.png);
    background-position: -72px -288px;
    height: 17px;
    width: 16px;
}

.icon-slabyrinth {
    background-image: url(sprite.png);
    background-position: -90px -288px;
    height: 17px;
    width: 16px;
}

.icon-slastchance {
    background-image: url(sprite.png);
    background-position: -108px -288px;
    height: 17px;
    width: 16px;
}

.icon-slighthouse {
    background-image: url(sprite.png);
    background-position: -126px -288px;
    height: 17px;
    width: 16px;
}

.icon-small_knife {
    background-image: url(sprite.png);
    background-position: -474px -216px;
    height: 16px;
    width: 16px;
}

.icon-smeatbarbed {
    background-image: url(sprite.png);
    background-position: -144px -288px;
    height: 17px;
    width: 16px;
}

.icon-smelly_meat {
    background-image: url(sprite.png);
    background-position: -474px -234px;
    height: 16px;
    width: 16px;
}

.icon-smenu_refine {
    background-image: url(sprite.png);
    background-position: -147px -164px;
    height: 40px;
    width: 40px;
}

.icon-smenu_tower {
    background-image: url(sprite.png);
    background-position: -189px -164px;
    height: 40px;
    width: 40px;
}

.icon-smenu_upgrades {
    background-image: url(sprite.png);
    background-position: -231px -164px;
    height: 40px;
    width: 40px;
}

.icon-smenu_veilleurs {
    background-image: url(sprite.png);
    background-position: 0 -246px;
    height: 40px;
    width: 40px;
}

.icon-smoke_bomb {
    background-image: url(sprite.png);
    background-position: -474px -252px;
    height: 16px;
    width: 16px;
}

.icon-smoving {
    background-image: url(sprite.png);
    background-position: -162px -288px;
    height: 17px;
    width: 16px;
}

.icon-soul_blue {
    background-image: url(sprite.png);
    background-position: -474px -270px;
    height: 16px;
    width: 16px;
}

.icon-soul_red {
    background-image: url(sprite.png);
    background-position: -474px -288px;
    height: 16px;
    width: 16px;
}

.icon-spa {
    background-image: url(sprite.png);
    background-position: -474px -306px;
    height: 16px;
    width: 16px;
}

.icon-spc {
    background-image: url(sprite.png);
    background-position: -474px -324px;
    height: 16px;
    width: 16px;
}

.icon-spices {
    background-image: url(sprite.png);
    background-position: -474px -342px;
    height: 16px;
    width: 16px;
}

.icon-spm {
    background-image: url(sprite.png);
    background-position: -474px -360px;
    height: 16px;
    width: 16px;
}

.icon-spmvbig {
    background-image: url(sprite.png);
    background-position: -180px -288px;
    height: 17px;
    width: 16px;
}

.icon-sport_elec {
    background-image: url(sprite.png);
    background-position: -474px -378px;
    height: 16px;
    width: 16px;
}

.icon-sport_elec_empty {
    background-image: url(sprite.png);
    background-position: -474px -396px;
    height: 16px;
    width: 16px;
}

.icon-sredemption {
    background-image: url(sprite.png);
    background-position: -198px -288px;
    height: 17px;
    width: 16px;
}

.icon-srefine {
    background-image: url(sprite.png);
    background-position: -474px -414px;
    height: 16px;
    width: 16px;
}

.icon-srocket {
    background-image: url(sprite.png);
    background-position: -216px -288px;
    height: 17px;
    width: 16px;
}

.icon-srocketperf {
    background-image: url(sprite.png);
    background-position: -234px -288px;
    height: 17px;
    width: 16px;
}

.icon-sround_path {
    background-image: url(sprite.png);
    background-position: -252px -288px;
    height: 17px;
    width: 16px;
}

.icon-ssaw {
    background-image: url(sprite.png);
    background-position: -270px -288px;
    height: 17px;
    width: 16px;
}

.icon-sscarecrow {
    background-image: url(sprite.png);
    background-position: -288px -288px;
    height: 17px;
    width: 16px;
}

.icon-sscore {
    background-image: url(sprite.png);
    background-position: -474px -432px;
    height: 16px;
    width: 16px;
}

.icon-sshower {
    background-image: url(sprite.png);
    background-position: -312px 0;
    height: 17px;
    width: 16px;
}

.icon-sslaughterhouse {
    background-image: url(sprite.png);
    background-position: -312px -19px;
    height: 17px;
    width: 16px;
}

.icon-sslave {
    background-image: url(sprite.png);
    background-position: -312px -38px;
    height: 17px;
    width: 16px;
}

.icon-ssort {
    background-image: url(sprite.png);
    background-position: -474px -450px;
    height: 16px;
    width: 16px;
}

.icon-sspa4souls {
    background-image: url(sprite.png);
    background-position: -312px -57px;
    height: 17px;
    width: 16px;
}

.icon-sspears {
    background-image: url(sprite.png);
    background-position: -312px -76px;
    height: 17px;
    width: 16px;
}

.icon-ssprinkler {
    background-image: url(sprite.png);
    background-position: -312px -95px;
    height: 17px;
    width: 16px;
}

.icon-sstealthy {
    background-image: url(sprite.png);
    background-position: 0 -470px;
    height: 16px;
    width: 16px;
}

.icon-sstrategy {
    background-image: url(sprite.png);
    background-position: -312px -114px;
    height: 17px;
    width: 16px;
}

.icon-staddict {
    background-image: url(sprite.png);
    background-position: -18px -470px;
    height: 16px;
    width: 16px;
}

.icon-staff {
    background-image: url(sprite.png);
    background-position: -36px -470px;
    height: 16px;
    width: 16px;
}

.icon-staff2 {
    background-image: url(sprite.png);
    background-position: -54px -470px;
    height: 16px;
    width: 16px;
}

.icon-stclean {
    background-image: url(sprite.png);
    background-position: -72px -470px;
    height: 16px;
    width: 16px;
}

.icon-stdrugged {
    background-image: url(sprite.png);
    background-position: -90px -470px;
    height: 16px;
    width: 16px;
}

.icon-stdrunk {
    background-image: url(sprite.png);
    background-position: -108px -470px;
    height: 16px;
    width: 16px;
}

.icon-stghoul {
    background-image: url(sprite.png);
    background-position: -126px -470px;
    height: 16px;
    width: 16px;
}

.icon-stheal {
    background-image: url(sprite.png);
    background-position: -189px -267px;
    height: 19px;
    width: 19px;
}

.icon-sthung_over {
    background-image: url(sprite.png);
    background-position: -144px -470px;
    height: 16px;
    width: 16px;
}

.icon-stinfect {
    background-image: url(sprite.png);
    background-position: -162px -470px;
    height: 16px;
    width: 16px;
}

.icon-stnt {
    background-image: url(sprite.png);
    background-position: -312px -133px;
    height: 17px;
    width: 16px;
}

.icon-stocks {
    background-image: url(sprite.png);
    background-position: -147px -82px;
    height: 80px;
    width: 145px;
}

.icon-stourello {
    background-image: url(sprite.png);
    background-position: -312px -152px;
    height: 17px;
    width: 16px;
}

.icon-strap {
    background-image: url(sprite.png);
    background-position: -312px -171px;
    height: 17px;
    width: 16px;
}

.icon-strash {
    background-image: url(sprite.png);
    background-position: -312px -190px;
    height: 17px;
    width: 16px;
}

.icon-strashclean {
    background-image: url(sprite.png);
    background-position: -312px -209px;
    height: 17px;
    width: 16px;
}

.icon-stterror {
    background-image: url(sprite.png);
    background-position: -180px -470px;
    height: 16px;
    width: 16px;
}

.icon-sttired {
    background-image: url(sprite.png);
    background-position: -198px -470px;
    height: 16px;
    width: 16px;
}

.icon-stwound {
    background-image: url(sprite.png);
    background-position: -216px -470px;
    height: 16px;
    width: 16px;
}

.icon-svalve {
    background-image: url(sprite.png);
    background-position: -312px -228px;
    height: 17px;
    width: 16px;
}

.icon-sventilation {
    background-image: url(sprite.png);
    background-position: -312px -247px;
    height: 17px;
    width: 16px;
}

.icon-sview {
    background-image: url(sprite.png);
    background-position: -234px -470px;
    height: 16px;
    width: 16px;
}

.icon-swallimprove {
    background-image: url(sprite.png);
    background-position: -312px -266px;
    height: 17px;
    width: 16px;
}

.icon-swatchmen {
    background-image: url(sprite.png);
    background-position: -312px -285px;
    height: 17px;
    width: 16px;
}

.icon-swater {
    background-image: url(sprite.png);
    background-position: -252px -470px;
    height: 16px;
    width: 16px;
}

.icon-swatercanon {
    background-image: url(sprite.png);
    background-position: 0 -307px;
    height: 17px;
    width: 16px;
}

.icon-swaterdetect {
    background-image: url(sprite.png);
    background-position: -18px -307px;
    height: 17px;
    width: 16px;
}

.icon-swaterhole {
    background-image: url(sprite.png);
    background-position: -36px -307px;
    height: 17px;
    width: 16px;
}

.icon-swaterspray {
    background-image: url(sprite.png);
    background-position: -54px -307px;
    height: 17px;
    width: 16px;
}

.icon-swheel {
    background-image: url(sprite.png);
    background-position: -72px -307px;
    height: 17px;
    width: 16px;
}

.icon-swiss_knife {
    background-image: url(sprite.png);
    background-position: -270px -470px;
    height: 16px;
    width: 16px;
}

.icon-t1 {
    background-image: url(sprite.png);
    background-position: -288px -470px;
    height: 16px;
    width: 16px;
}

.icon-t10 {
    background-image: url(sprite.png);
    background-position: -306px -470px;
    height: 16px;
    width: 16px;
}

.icon-t11 {
    background-image: url(sprite.png);
    background-position: -324px -470px;
    height: 16px;
    width: 16px;
}

.icon-t12 {
    background-image: url(sprite.png);
    background-position: -277px -206px;
    height: 16px;
    width: 11px;
}

.icon-t2 {
    background-image: url(sprite.png);
    background-position: -342px -470px;
    height: 16px;
    width: 16px;
}

.icon-t3 {
    background-image: url(sprite.png);
    background-position: -360px -470px;
    height: 16px;
    width: 16px;
}

.icon-t4 {
    background-image: url(sprite.png);
    background-position: -378px -470px;
    height: 16px;
    width: 16px;
}

.icon-t5 {
    background-image: url(sprite.png);
    background-position: -396px -470px;
    height: 16px;
    width: 16px;
}

.icon-t6 {
    background-image: url(sprite.png);
    background-position: -414px -470px;
    height: 16px;
    width: 16px;
}

.icon-t7 {
    background-image: url(sprite.png);
    background-position: -432px -470px;
    height: 16px;
    width: 16px;
}

.icon-t8 {
    background-image: url(sprite.png);
    background-position: -450px -470px;
    height: 16px;
    width: 16px;
}

.icon-t9 {
    background-image: url(sprite.png);
    background-position: -468px -470px;
    height: 16px;
    width: 16px;
}

.icon-table {
    background-image: url(sprite.png);
    background-position: -492px 0;
    height: 16px;
    width: 16px;
}

.icon-tagger {
    background-image: url(sprite.png);
    background-position: -492px -18px;
    height: 16px;
    width: 16px;
}

.icon-taser {
    background-image: url(sprite.png);
    background-position: -492px -36px;
    height: 16px;
    width: 16px;
}

.icon-taser_empty {
    background-image: url(sprite.png);
    background-position: -492px -54px;
    height: 16px;
    width: 16px;
}

.icon-teddy {
    background-image: url(sprite.png);
    background-position: -492px -72px;
    height: 16px;
    width: 16px;
}

.icon-torch {
    background-image: url(sprite.png);
    background-position: -492px -90px;
    height: 16px;
    width: 16px;
}

.icon-torch_off {
    background-image: url(sprite.png);
    background-position: -492px -108px;
    height: 16px;
    width: 16px;
}

.icon-trapma {
    background-image: url(sprite.png);
    background-position: -492px -126px;
    height: 16px;
    width: 16px;
}

.icon-trestle {
    background-image: url(sprite.png);
    background-position: -492px -144px;
    height: 16px;
    width: 16px;
}

.icon-tube {
    background-image: url(sprite.png);
    background-position: -492px -162px;
    height: 16px;
    width: 16px;
}

.icon-uhouse1 {
    background-image: url(sprite.png);
    background-position: -147px -206px;
    height: 19px;
    width: 24px;
}

.icon-uhouse2 {
    background-image: url(sprite.png);
    background-position: -173px -206px;
    height: 19px;
    width: 24px;
}

.icon-uhouse3 {
    background-image: url(sprite.png);
    background-position: -199px -206px;
    height: 19px;
    width: 24px;
}

.icon-undef {
    background-image: url(sprite.png);
    background-position: -492px -180px;
    height: 16px;
    width: 16px;
}

.icon-unone {
    background-image: url(sprite.png);
    background-position: -225px -206px;
    height: 19px;
    width: 24px;
}

.icon-utent {
    background-image: url(sprite.png);
    background-position: -251px -206px;
    height: 19px;
    width: 24px;
}

.icon-vagoul {
    background-image: url(sprite.png);
    background-position: -492px -198px;
    height: 16px;
    width: 16px;
}

.icon-vegetable {
    background-image: url(sprite.png);
    background-position: -492px -216px;
    height: 16px;
    width: 16px;
}

.icon-vegetable_tasty {
    background-image: url(sprite.png);
    background-position: -492px -234px;
    height: 16px;
    width: 16px;
}

.icon-vibr {
    background-image: url(sprite.png);
    background-position: -492px -252px;
    height: 16px;
    width: 16px;
}

.icon-vibr_empty {
    background-image: url(sprite.png);
    background-position: -492px -270px;
    height: 16px;
    width: 16px;
}

.icon-vide {
    background-image: url(sprite.png);
    background-position: -492px -288px;
    height: 16px;
    width: 16px;
}

.icon-vodka {
    background-image: url(sprite.png);
    background-position: -492px -306px;
    height: 16px;
    width: 16px;
}

.icon-watchmen {
    background-image: url(sprite.png);
    background-position: -90px -307px;
    height: 17px;
    width: 16px;
}

.icon-water {
    background-image: url(sprite.png);
    background-position: -492px -324px;
    height: 16px;
    width: 16px;
}

.icon-water_can_1 {
    background-image: url(sprite.png);
    background-position: -54px -488px;
    height: 16px;
    width: 16px;
}

.icon-water_can_2 {
    background-image: url(sprite.png);
    background-position: -72px -488px;
    height: 16px;
    width: 16px;
}

.icon-water_can_3 {
    background-image: url(sprite.png);
    background-position: -90px -488px;
    height: 16px;
    width: 16px;
}

.icon-water_can_empty {
    background-image: url(sprite.png);
    background-position: -108px -488px;
    height: 16px;
    width: 16px;
}

.icon-water_cleaner {
    background-image: url(sprite.png);
    background-position: -126px -488px;
    height: 16px;
    width: 16px;
}

.icon-water_cup {
    background-image: url(sprite.png);
    background-position: -144px -488px;
    height: 16px;
    width: 16px;
}

.icon-water_cup_part {
    background-image: url(sprite.png);
    background-position: -162px -488px;
    height: 16px;
    width: 16px;
}

.icon-watergun_1 {
    background-image: url(sprite.png);
    background-position: -492px -342px;
    height: 16px;
    width: 16px;
}

.icon-watergun_2 {
    background-image: url(sprite.png);
    background-position: -492px -360px;
    height: 16px;
    width: 16px;
}

.icon-watergun_3 {
    background-image: url(sprite.png);
    background-position: -492px -378px;
    height: 16px;
    width: 16px;
}

.icon-watergun_empty {
    background-image: url(sprite.png);
    background-position: -492px -396px;
    height: 16px;
    width: 16px;
}

.icon-watergun_opt_1 {
    background-image: url(sprite.png);
    background-position: -492px -414px;
    height: 16px;
    width: 16px;
}

.icon-watergun_opt_2 {
    background-image: url(sprite.png);
    background-position: -492px -432px;
    height: 16px;
    width: 16px;
}

.icon-watergun_opt_3 {
    background-image: url(sprite.png);
    background-position: -492px -450px;
    height: 16px;
    width: 16px;
}

.icon-watergun_opt_4 {
    background-image: url(sprite.png);
    background-position: -492px -468px;
    height: 16px;
    width: 16px;
}

.icon-watergun_opt_5 {
    background-image: url(sprite.png);
    background-position: 0 -488px;
    height: 16px;
    width: 16px;
}

.icon-watergun_opt_empty {
    background-image: url(sprite.png);
    background-position: -18px -488px;
    height: 16px;
    width: 16px;
}

.icon-watergun_opt_part {
    background-image: url(sprite.png);
    background-position: -36px -488px;
    height: 16px;
    width: 16px;
}

.icon-well {
    background-image: url(sprite.png);
    background-position: 0 -164px;
    height: 80px;
    width: 145px;
}

.icon-wire {
    background-image: url(sprite.png);
    background-position: -180px -488px;
    height: 16px;
    width: 16px;
}

.icon-wood2 {
    background-image: url(sprite.png);
    background-position: -198px -488px;
    height: 16px;
    width: 16px;
}

.icon-wood_bad {
    background-image: url(sprite.png);
    background-position: -216px -488px;
    height: 16px;
    width: 16px;
}

.icon-wood_beam {
    background-image: url(sprite.png);
    background-position: -234px -488px;
    height: 16px;
    width: 16px;
}

.icon-wood_log {
    background-image: url(sprite.png);
    background-position: -252px -488px;
    height: 16px;
    width: 16px;
}

.icon-wood_plate {
    background-image: url(sprite.png);
    background-position: -270px -488px;
    height: 16px;
    width: 16px;
}

.icon-wood_plate_part {
    background-image: url(sprite.png);
    background-position: -288px -488px;
    height: 16px;
    width: 16px;
}

.icon-wood_xmas {
    background-image: url(sprite.png);
    background-position: -306px -488px;
    height: 16px;
    width: 16px;
}

.icon-woodsteak {
    background-image: url(sprite.png);
    background-position: -108px -307px;
    height: 17px;
    width: 16px;
}

.icon-wrench {
    background-image: url(sprite.png);
    background-position: -324px -488px;
    height: 16px;
    width: 16px;
}

.icon-xanax {
    background-image: url(sprite.png);
    background-position: -342px -488px;
    height: 16px;
    width: 16px;
}

.icon-xmas {
    background-image: url(sprite.png);
    background-position: -210px -267px;
    height: 19px;
    width: 19px;
}

.icon-xmas_gift {
    background-image: url(sprite.png);
    background-position: -360px -488px;
    height: 16px;
    width: 16px;
}
