#formObjet {
    font-size : 1rem;
    margin    : auto;
    padding   : 10px;
    width     : 70%;

    div#form {
        align-content   : center;
        align-items     : center;
        display         : flex;
        flex-wrap       : wrap;
        justify-content : space-around;

        div.boutSave {
            align-content   : center;
            align-items     : center;
            display         : flex;
            flex-wrap       : wrap;
            justify-content : space-around;
            width           : 100%;
        }

        div:not(.textAreaAlign,.boutSave) {
            width : 50%;
        }

        div.textAreaAlign {
            width : 100%;
        }
    }
}