/* list groupe */
$list-group-border-color     : none;
$list-group-border-width     : 0;

/* personnalisation navbar */
$link-decoration             : none;

/* personnalisation table */
$table-cell-padding-y        : 0;
$table-cell-padding-x        : 0;

/* personnalisation card */
//$card-bg                          : $fondWhite02-color;
$card-spacer-y               : 5px;
$card-spacer-x               : 5px;
$card-border-width           : 1px;

/* personnalisation modal */
$modal-title-line-height     : 0;
$modal-header-padding        : 14px 0;
$modal-header-padding-x      : 14px;
$modal-header-padding-y      : 0;

/* personnalisation pagination */
$pagination-font-size        : 0.9rem;
$pagination-disabled-color   : rgba(255, 255, 255, 0.3);
$pagination-focus-box-shadow : none;

