<!DOCTYPE HTML>
<!--suppress ChainedFunctionCallJS -->
<html lang="fr" data-theme="{{ app.user.theme|default('hordes') }}">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<link id="theme-stylesheet" href="{{ asset('build/style.css') }}" rel="stylesheet">
	<link href="{{ asset('build/fontawesome/all.css') }}" rel="stylesheet">


	{% if themeUser is not null %}
		<style>
            html[data-theme='{{ app.user.theme|default('hordes') }}'] {
			{% if themeUser.statsBgColor is not null %} --stats-bg-color: {{ themeUser.statsBgColor }}; {% endif %} {% if themeUser.primaryBorderColor is not null %} --primary-border-color: {{ themeUser.primaryBorderColor }}; {% endif %} {% if themeUser.backgroundColor is not null %} --background-color: {{ themeUser.backgroundColor }}; {% endif %} {% if themeUser.myLineColor is not null %} --myLine-color: {{ themeUser.myLineColor }}; {% endif %} {% if themeUser.primaryColor is not null %} --primary-color: {{ themeUser.primaryColor }}; {% endif %} {% if themeUser.secondaryColor is not null %} --secondary-color: {{ themeUser.secondaryColor }}; {% endif %} {% if themeUser.tertiaryColor is not null %} --tertiary-color: {{ themeUser.tertiaryColor }}; {% endif %} {% if themeUser.hoverFontColor is not null %} --hover-font-color: {{ themeUser.hoverFontColor }}; {% endif %} {% if themeUser.primaryFontColor is not null %} --primary-font-color: {{ themeUser.primaryFontColor }}; {% endif %} {% if themeUser.tertiaryFontColor is not null %} --tertiary-font-color: {{ themeUser.tertiaryFontColor }}; {% endif %} {% if themeUser.primaryRowColor is not null %} --primary-row-color: {{ themeUser.primaryRowColor }}; {% endif %} {% if themeUser.secondaryRowColor is not null %} --secondary-row-color: {{ themeUser.secondaryRowColor }}; {% endif %} {% if themeUser.bgHoverColor is not null %} --special-color: {{ themeUser.bgHoverColor }}; {% endif %} {% if themeUser.succesColor is not null %} --success-color: {{ themeUser.succesColor }}; {% endif %} {% if themeUser.errorColor is not null %} --error-color: {{ themeUser.errorColor }}; {% endif %}{% if themeUser.specifiqueColor is not null %} --specifique-color: {{ themeUser.specifiqueColor }}; {% endif %}
            }
		</style>
	{% endif %}

	<link rel="icon" type="image/gif" href="{{ asset('build/img/favicon.gif') }}" />
	<title>{{ title_site }}</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>

<body>
{% block body %}
	<div id="app"></div>
{% endblock %}
</body>
</html>
